<div class="card card-lg" id="margin2">
    <div class="container-xl">
      <div class="card-body">
        <div class="row">
          <div class="col-11 align-self-star">
            <h4 class="card-title">Acerca de...</h4>
            <p class="card-text" id="text-acercade">Pintor Industrial, estudiante de Desarrollo y Programación</p>
          </div>
          
          <div class="col-1 d-flex align-content-top flex-wrap">
            <div class="btn-edit" onclick="cambiar_parrafo()">
              <a href="#" class="btn-right"><i class="fa-solid fa-pen"></i></a>
            </div>
          </div>
          <div><input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display: none;"></div>
        </div>
      </div>
    </div>
  </div>