<div class="card mb-3 card-lg"  id="margin2">
    <div class="container-xl">
    <div class="card-body">
      <div class="row">
        <div class="col-11 align-self-star">
          <h4 class="card-title">Hadr Skills & Soft Skills</h4>
        </div>
  
        <div class="col-1 d-flex align-content-top flex-wrap">
          <div class="btn-edit"><a href="#" class="btn-right"><i class="fa-solid fa-pen"></i></a></div>
        </div>
        </div>
      <div class="row">
        <div class="col-12">
          <p class="align-self-buttom">Resolución de Problemas</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-label="Animated striped example" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
          </div>
        </div>
        <div class="col-12">
          <p style="margin-top: 30px;">Diseño de Sistemas</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-label="Animated striped example" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
          </div>
        </div>
  
      </div>
    </div>
    </div>
  </div>