<div class="card card-lg" id="margin2">
    <div class="container-xl">
      <div class="card-body">
        <div class="row">
          <div class="col-11 align-self-star">
            <h5>Proyectos</h5>
          </div>
          <div class="col-1 d-flex align-content-top flex-wrap">
            <div class="btn-edit"><a href="#" class="btn-right"><i class="fa-solid fa-pen"></i></a></div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-1">
            <img src="../assets/icono lakalumba.png" alt="lakalumba" height="50px">
          </div>
          <div class="col-10">
            <h6 style="color: teal;">Laka-Production</h6>
            <p>Programa de proyección de la produccion, su distintos tiempos, procesos y requerimientos.</p>
          </div>
        
          <div class="row" style="margin-top:20px;">
            <div class="col-1"></div>
  
            <div class="col-10">
              <h6 style="color: teal;">assigned task</h6>
              <p>Desarrollo de app de asignación de horarios rotativos para el personal.</p>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>