<div class="card card-lg" id="margin2">
    <img [src]="miPorfolio.backimage" class="card-img-top" class="img-responsive" alt="galaxy" id="portada" style="height:350px;">
  
      <div class="row">
        <div class="col-2">
          <img src="../assets/avatar1.jpg" alt="galaga" class="rounded-circle" height="150px" width="150px" id="avatar">
        </div>
        <div class="col-1 d-flex align-content-end flex-wrap">
          <div class="btn-edit"><a href="#" class="btn-right"><i class="fa-solid fa-pen"></i></a></div>
        </div>
    </div>
    
  
    <div class="container-xl">
      <div class="card-body">
        <div class="row">
          <div class="col-8 align-self-star">
            <h4 class="card-title">{{miPorfolio.name}}</h4>
            <p class="card-text">{{miPorfolio.position}}</p>
            <p class="card-text">{{miPorfolio.ubication}} <a href="#">Información de contacto</a> </p>
          
          </div>
          <div class="col-3 d-flex align-content-right flex-wrap">
            <div class="row-1">
              <ul id="link-reference">
                <li>
                  <a href="#" style="text-decoration: none"><img src="../assets/icono ArgPro.png" alt="Argentina Programa 4.0" height="50px"> Argentina Programa 4.0
                </a></li>
                <li>
                  <a href="#" style="text-decoration: none"><img src="../assets/icono lakalumba.png" alt="Lakalumba" height="50px"> Lakalumba
                </a></li>
              </ul>
            </div>
          </div>
  
          <div class="col" style="margin-top:10px;">
            <ul class="nav">
              <li class="nav-item btn">
                <a class="btn btn-primary" href="#" role="button">tengo interes en</a>
              </li>
              <li class="nav-item btn">
                <a class="btn btn-light" href="#" role="button">Añadir Sección</a>
              </li>
              <li class="nav-item btn">
                <a class="btn btn-light" href="#" role="button">Más</a>
              </li>
            </ul>
          </div>
  
        </div>
      </div>
    </div>
  </div>
