<div class="card card-lg" id="margin2">
    <div class="container-xl">
      <div class="card-body">
        <div class="row">
          <div class="col-11 align-self-star">
            <h5>Experiencia</h5>
          </div>
          <div class="col-1 d-flex align-content-top flex-wrap">
            <div class="btn-edit"><a href="#" class="btn-right"><i class="fa-solid fa-pen"></i></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <img src="../assets/icono lakalumba.png" alt="lakalumba" height="50px">
          </div>
          <div class="col-10">
            <p><small>Pintor Industrial / Mantenimiento General</small></p>
            <p>mayo 2018 - noviembre 2022</p>
            <p>Buenos Aires, Argentina</p>
          </div>
      
          <h5>Educación</h5>
          <div class="row">
            <div class="col-10">
              <h6>Esc.Tec. Casal Calviño</h6>
              <p><small>Técnico Mecánico en Máquinas Herramientas</small></p>
              <p><small>2000 - 2008</small></p>          
            </div>
          </div>
      
          <div class="row">
            <div class="col-10">
              <h6>Argentina Programa</h6>
              <p><small>#Se Programar - Primer instancia del ciclo Argentina Programa</small></p>
              <p><small>2022</small></p>          
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>